.btnSmall {
  border-radius: 12px;
  font-family: Montserrat,sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
}

.hamburger {
  padding: 16px 32px;
  font-size: 16px;
}

.btnBgPurple {
  border-radius: 12px;
  background: linear-gradient(245deg, #E64A4A 0%, #981616 100%);
}

.header-middle-menu {
  flex: auto;
}

.headBg {
  background-image: url(../../../public/bgc.png);
  background-origin: padding-box;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-mainBlack {
  background-color: #000;
}

